In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
import mat_ceng as mc
import pandas as pd
import numpy as np

### table names
+ Frame Assigns - Sect Prop
+ Frame Assigns - Summary
+ Frame Sec Def - Conc Col Reinf
+ Frame Sec Def - Conc Rect
+ Mat Prop - Basic Mech Props
+ Mat Prop - Concrete Data
+ Mat Prop - Rebar Data
---
+ Design Forces - Columns

In [23]:
excel_file = 'column_design.xlsx'
df = pd.read_excel(io=excel_file,sheet_name='Frame Assigns - Sect Prop',
                   skiprows=[0, 2], usecols=[2,3,5])
df = pd.read_excel(io=excel_file,sheet_name='Frame Assigns - Summary',
                   skiprows=[0,2],usecols=[2,4,5,7]).fillna(value=0)
df = pd.read_excel(io=excel_file,sheet_name='Frame Sec Def - Conc Col Reinf',
                   skiprows=[0, 2],usecols=[0,3,6,7,8,9,10,11,12])
df = pd.read_excel(io=excel_file,sheet_name='Frame Sec Def - Conc Rect',
                   skiprows=[0, 2], usecols=[0,1,3,4,8])
df = pd.read_excel(io=excel_file,sheet_name='Mat Prop - Concrete Data',
                   skiprows=[0, 2], usecols=[0,1])
df

  Material  Fc
0      C40  40
1      C50  50
2      C60  60

In [27]:
df = pd.read_excel(io=excel_file,sheet_name='Design Forces - Columns',
                   skiprows=[0, 2], usecols=[2,3,4,5,6,7,8,9,10])
df

,Story,Column,UniqueName,Combo,Station,P,V2,V3,T,M2,M3
0,ROOF 29.55,C130,4533,1.4DL+1.7LL-1,0.00,-385694.64,37579.86,6258.48,-22441645.66,15169347.66,-4.431966e+07
1,ROOF 29.55,C130,4533,1.4DL+1.7LL-1,925.02,-376953.18,37579.86,6258.48,-22441645.66,9439164.92,-7.901675e+07
2,ROOF 29.55,C130,4533,1.4DL+1.7LL-1,1850.04,-368211.72,37579.86,6258.48,-22441645.66,3661113.19,-1.134883e+08
3,ROOF 29.55,C130,4533,1.4DL+1.7LL-2,0.00,-385694.64,37579.86,6258.48,-22441645.66,15169347.66,-4.431966e+07
4,ROOF 29.55,C130,4533,1.4DL+1.7LL-2,925.02,-376953.18,37579.86,6258.48,-22441645.66,9439164.92,-7.901675e+07
...,...,...,...,...,...,...,...,...,...,...,...
542075,WATER TANK -4.9,C548,5880,0.9D-1,1625.00,-1323063.28,33131.65,-4980.64,-1887.38,-1784357.85,1.285250e+07
542076,WATER TANK -4.9,C548,5880,0.9D-1,3250.00,-1293813.28,33131.65,-4980.64,-1887.38,6339378.67,-4.112411e+07
542077,WATER TANK -4.9,C548,5880,1.4D-1,0.00,-2103598.44,51538.12,-7747.66,-2935.93,-15397928.41,1.038888e+08
542078,WATER TANK -4.9,C548,5880,1.4D-1,1625.00,-2058098.44,51538.12,-7747.66,-2935.93,-2775667.76,1.999278e+07
542079,WATER TANK -4.9,C548,5880,1.4D-1,3250.00,-2012598.44,51538.12,-7747.66,-2935.93,9861255.71,-6.397084e+07