In [ ]:
import pandas as pd 
import numpy as np 
from pathlib import Path
datafolder = Path('../test_data')

In [ ]:
import sqlite3
'https://sqlitebrowser.org/dl/'
fires_con = sqlite3.connect(datafolder / 'FPA_FOD_20170508.sqlite')
fires_cur = fires_con.cursor()
fires_cur.execute(
    'SELECT name FROM sqlite_master WHERE type="table"'
).fetchall()
fires_cur.execute(
    'PRAGMA table_info(Fires)'
).fetchall()
fires = pd.read_sql_query(
    '''SELECT STATE, FIRE_YEAR, DATETIME(DISCOVERY_DATE) AS DISCOVERY_DATE,
    FIRE_NAME, FIRE_SIZE, LATITUDE, LONGITUDE, DATETIME(CONT_DATE) AS CONTAIN_DATE
    FROM Fires''',
    fires_con
)

In [14]:
fires.columns = fires.columns.str.lower()
fires.rename(columns={'fire_size': 'acres_burned'}, inplace=True)
fires

,state,fire_year,discovery_date,fire_name,acres_burned,latitude,longitude,contain_date
0,CA,2005,2005-02-02 00:00:00,FOUNTAIN,0.10,40.036944,-121.005833,2005-02-02 00:00:00
1,CA,2004,2004-05-12 00:00:00,PIGEON,0.25,38.933056,-120.404444,2004-05-12 00:00:00
2,CA,2004,2004-05-31 00:00:00,SLACK,0.10,38.984167,-120.735556,2004-05-31 00:00:00
3,CA,2004,2004-06-28 00:00:00,DEER,0.10,38.559167,-119.913333,2004-07-03 00:00:00
4,CA,2004,2004-06-28 00:00:00,STEVENOT,0.10,38.559167,-119.933056,2004-07-03 00:00:00
...,...,...,...,...,...,...,...,...
1880460,CA,2015,2015-09-26 00:00:00,ODESSA 2,0.01,40.481637,-122.389375,2015-09-26 00:00:00
1880461,CA,2015,2015-10-05 00:00:00,None,0.20,37.617619,-120.938570,None
1880462,CA,2015,2015-05-02 00:00:00,None,0.10,37.617619,-120.938570,None
1880463,CA,2015,2015-10-14 00:00:00,None,2.00,37.672235,-120.898356,None
1880464,CA,2015,2015-03-14 00:00:00,BARKER BL BIG_BEAR_LAKE_,0.10,34.263217,-116.830950,None

In [29]:
fires[['discovery_date', 'contain_date']] = fires[['discovery_date', 'contain_date']].apply(
    pd.to_datetime
)
fires['fire_month'] = fires.discovery_date.dt.month
fires

,state,fire_year,discovery_date,fire_name,acres_burned,latitude,longitude,contain_date,fire_month
0,CA,2005,2005-02-02,FOUNTAIN,0.10,40.036944,-121.005833,2005-02-02,2
1,CA,2004,2004-05-12,PIGEON,0.25,38.933056,-120.404444,2004-05-12,5
2,CA,2004,2004-05-31,SLACK,0.10,38.984167,-120.735556,2004-05-31,5
3,CA,2004,2004-06-28,DEER,0.10,38.559167,-119.913333,2004-07-03,6
4,CA,2004,2004-06-28,STEVENOT,0.10,38.559167,-119.933056,2004-07-03,6
...,...,...,...,...,...,...,...,...,...
1880460,CA,2015,2015-09-26,ODESSA 2,0.01,40.481637,-122.389375,2015-09-26,9
1880461,CA,2015,2015-10-05,None,0.20,37.617619,-120.938570,NaT,10
1880462,CA,2015,2015-05-02,None,0.10,37.617619,-120.938570,NaT,5
1880463,CA,2015,2015-10-14,None,2.00,37.672235,-120.898356,NaT,10
1880464,CA,2015,2015-03-14,BARKER BL BIG_BEAR_LAKE_,0.10,34.263217,-116.830950,NaT,3

In [33]:
fires['days_burning'] = (fires.contain_date - fires.discovery_date).dt.days
fires.sample(5)

,state,fire_year,discovery_date,fire_name,acres_burned,latitude,longitude,contain_date,fire_month,days_burning
1276186,WI,2009,2009-04-18,TIMBERLAND TRAIL,0.44,45.428405,-90.796414,2009-04-18,4,0.0
1502715,NY,2011,2011-03-19,None,0.10,41.415466,-74.083778,2011-03-19,3,0.0
1315543,WV,2002,2002-09-12,HAMPTON OAKS LANE,0.10,39.344511,-77.987482,2002-09-12,9,0.0
1601574,UT,2012,2012-05-16,HURRICANE ASSIST 1,3.00,37.155792,-113.259042,NaT,5,NaN
1873823,CA,2009,2009-04-23,MARRA,0.50,38.391975,-122.949631,2009-04-23,4,0.0

In [46]:
fires[['state', 'days_burning']].head()
fires['mean_days'] = fires.groupby('state')['days_burning'].transform(func='mean')
fires[['state', 'days_burning', 'mean_days']].head(19)

   state  days_burning  mean_days
0     CA           0.0    1.05301
1     CA           0.0    1.05301
2     CA           0.0    1.05301
3     CA           5.0    1.05301
4     CA           5.0    1.05301
5     CA           1.0    1.05301
6     CA           1.0    1.05301
7     CA           0.0    1.05301
8     CA           0.0    1.05301
9     CA           1.0    1.05301
10    CA           1.0    1.05301
11    CA           1.0    1.05301
12    CA           0.0    1.05301
13    CA           0.0    1.05301
14    CA           0.0    1.05301
15    CA           0.0    1.05301
16    CA          15.0    1.05301
17    CA           4.0    1.05301
18    CA           1.0    1.05301

In [54]:
df = fires.sample(20)
df = df[['state', 'fire_year', 'fire_month']]
df.head(2)

        state  fire_year  fire_month
1028878    NC       1998           4
248261     OK       2007          11

In [62]:

from datetime import date
def func(row):
    return pd.to_datetime(date(year=row['fire_year'], month=row['fire_month'], day=1))


df[[ 'fire_year', 'fire_month']].apply(func, axis=1).head(3)

1028878   1998-04-01
248261    2007-11-01
1498601   2011-09-01
dtype: datetime64[ns]

In [66]:
fires_by_month = fires.set_index(['state', 'fire_year', 'fire_month'])
fires_by_month

                           discovery_date                  fire_name  \
state fire_year fire_month
CA    2005      2              2005-02-02                   FOUNTAIN
      2004      5              2004-05-12                     PIGEON
                5              2004-05-31                      SLACK
                6              2004-06-28                       DEER
                6              2004-06-28                   STEVENOT
...                                   ...                        ...
      2015      9              2015-09-26                   ODESSA 2
                10             2015-10-05                       None
                5              2015-05-02                       None
                10             2015-10-14                       None
                3              2015-03-14  BARKER BL  BIG_BEAR_LAKE_

                            acres_burned   latitude   longitude contain_date  \
state fire_year fire_month
CA    2005      2                   0.10  40.036944 -121.005833   2005-02-02
      2004      5                   0.25  38.933056 -120.404444   2004-05-12
                5                   0.10  38.984167 -120.735556   2004-05-31
                6                   0.10  38.559167 -119.913333   2004-07-03
                6                   0.10  38.559167 -119.933056   2004-07-03
...                                  ...        ...         ...          ...
      2015      9                   0.01  40.481637 -122.389375   2015-09-26
                10                  0.20  37.617619 -120.938570          NaT
                5                   0.10  37.617619 -120.938570          NaT
                10                  2.00  37.672235 -120.898356          NaT
                3                   0.10  34.263217 -116.830950          NaT

                            days_burning  mean_days
state fire_year fire_month
CA    2005      2                    0.0    1.05301
      2004      5                    0.0    1.05301
                5                    0.0    1.05301
                6                    5.0    1.05301
                6                    5.0    1.05301
...                                  ...        ...
      2015      9                    0.0    1.05301
                10                   NaN    1.05301
                5                    NaN    1.05301
                10                   NaN    1.05301
                3                    NaN    1.05301

[1880465 rows x 8 columns]

In [67]:
fires_no_index = fires_by_month.reset_index(drop=False)
fires_no_index

,state,fire_year,fire_month,discovery_date,fire_name,acres_burned,latitude,longitude,contain_date,days_burning,mean_days
0,CA,2005,2,2005-02-02,FOUNTAIN,0.10,40.036944,-121.005833,2005-02-02,0.0,1.05301
1,CA,2004,5,2004-05-12,PIGEON,0.25,38.933056,-120.404444,2004-05-12,0.0,1.05301
2,CA,2004,5,2004-05-31,SLACK,0.10,38.984167,-120.735556,2004-05-31,0.0,1.05301
3,CA,2004,6,2004-06-28,DEER,0.10,38.559167,-119.913333,2004-07-03,5.0,1.05301
4,CA,2004,6,2004-06-28,STEVENOT,0.10,38.559167,-119.933056,2004-07-03,5.0,1.05301
...,...,...,...,...,...,...,...,...,...,...,...
1880460,CA,2015,9,2015-09-26,ODESSA 2,0.01,40.481637,-122.389375,2015-09-26,0.0,1.05301
1880461,CA,2015,10,2015-10-05,None,0.20,37.617619,-120.938570,NaT,NaN,1.05301
1880462,CA,2015,5,2015-05-02,None,0.10,37.617619,-120.938570,NaT,NaN,1.05301
1880463,CA,2015,10,2015-10-14,None,2.00,37.672235,-120.898356,NaT,NaN,1.05301
1880464,CA,2015,3,2015-03-14,BARKER BL BIG_BEAR_LAKE_,0.10,34.263217,-116.830950,NaT,NaN,1.05301

In [81]:
fires_by_year = fires.groupby(['state', 'fire_year'])[['acres_burned']].sum()
fires_by_year.unstack()

          acres_burned                                                  \
fire_year         1992        1993        1994        1995        1996
state
AK          142717.400  687191.500  261964.900   43962.100  598797.200
AL            1253.200    2336.800   34664.400   38896.600   47683.200
AR            1478.500    1760.200    2303.900    5190.400    5286.800
AZ           42593.650  205567.020  224199.735  262152.830  187400.565
CA          296439.800  321495.300  407944.700  216068.700  707110.500
CO            7451.900   35555.300   70760.600   20043.700   70040.500
CT             466.050     401.100     943.150     427.400      66.450
DC               0.400       9.800       5.100       0.600         NaN
DE             124.000       1.000      96.000    2014.400         NaN
FL           95279.700   79755.200  103085.400   56682.700  107511.500
GA           27016.370   40515.590   25013.890   24460.520   37975.890
HI           11161.300    2562.000      78.600    1027.500     380.300
IA              85.300      30.700     105.400      57.400    1026.400
ID          684658.900    7978.200  729029.600  268681.300  896659.900
IL             235.400      29.800     383.700     993.200     149.800
IN             247.300     464.300     577.900     881.400     495.000
KS             251.600    1809.300   84460.100    4537.900  147570.400
KY             604.500     843.100    4660.600    5863.600    1117.800
LA           25129.100    8066.800    2520.600    7277.900    8254.100
MA               5.400       1.500       0.100       8.700       2.200
MD            1160.300    1672.900     786.900    1304.400     312.100
ME            4399.300    1413.150    2012.690    1137.080     403.350
MI            2987.400    1008.000    6704.200    4872.300    2921.700
MN           30182.130   19087.710   37150.320   46067.310   29633.940
MO           28716.000   14997.300   36249.400   50196.400    8538.300
MS           60830.100   54108.300   54478.500   68013.800  101707.700
MT           38591.720   12598.410  265689.350   25183.950  208840.450
NC           27489.100   26461.200   44936.200   23404.300   17358.000
ND            6373.900    3923.900   11743.300    2047.600    4801.800
NE            1227.100     173.500    6869.500   55757.800    8278.300
NH             164.671     166.663     207.234     309.042      95.734
NJ           16603.650     922.700    2725.850   22962.146     929.600
NM           99202.450  302344.040  416646.720  139862.350  171645.960
NV           92345.800   53979.900  196057.800  120031.400  627484.000
NY            2334.400    1126.300    1154.600    9167.450     417.300
OH             101.700      42.700     125.700     292.300      70.300
OK           47575.100   69803.500   75164.200   94478.900  207500.000
OR          117437.360   13843.280  276054.320   61282.490  590641.840
PA              59.700      40.800      66.500      51.200      18.900
PR             127.000     163.000    1000.000         NaN     502.000
RI                 NaN         NaN      25.000         NaN         NaN
SC           31202.800   34284.700   30354.100   17794.800   28609.600
SD           59412.280    6133.300   16520.050   10273.220   18689.020
TN             429.600     866.400    3300.200    2049.200     484.100
TX           33610.300  116873.700   70917.500   56371.100  216223.000
UT           37531.910   19887.470  213555.100  199115.640  511165.790
VA             434.600     564.000    1205.500   15136.750    3259.500
VT             270.000       3.000      25.300       1.200         NaN
WA           89681.050   22629.000  271438.100    6727.800  148134.100
WI            2520.610    1445.220    5242.020    2316.930    2927.970
WV            7514.400    9434.000   50906.800   41583.600    5858.500
WY           22241.800    5323.450   64564.200   12563.750  270174.350

                                                                            \
fire_year        1997          1998          1999         2000        2001
state
AK         2026204.50  120782.10000  1.005844e+06   756379.200  219924.700
AL           22055.40   35560.60000  5.254820e+04    88267.400   39095.100
AR           11442.40   13023.10000  2.403230e+04    29052.500   14451.800
AZ           13356.90   27378.80000  7.379900e+04    92910.300   35816.740
CA          324566.30  160013.10000  8.041234e+05   252676.000  350176.700
CO            6038.20    8379.20000  2.031390e+04   115784.300   23005.700
CT             600.35     131.90000  1.672460e+03      492.300     745.100
DC               0.30       4.40000  2.100000e+00          NaN       0.100
DE              24.60           NaN  5.070000e+02       65.000      10.500
FL          133163.90  377720.50000  4.133500e+05   242653.100  411721.500
GA           21908.14   45909.78000  7.311200e+04    63571.140   53335.010
HI              52.00   31675.20000  1.512950e+04     5669.600    2352.150
IA              93.00      70.00000  4.356000e+02     1734.700      85.000
ID           42902.40  151299.30000  4.161858e+05  1350786.480  192801.620
IL              13.70     165.30000  4.972000e+02      597.200     531.100
IN              83.00     175.00000  7.642000e+02      707.900    1167.600
KS           11410.40    5207.10000  6.531600e+03     9219.800    2662.300
KY           11612.70   24966.30000  1.256338e+05   136220.600  175179.400
LA           21649.00   34126.20000  3.762300e+04    91109.500   26577.100
MA               5.40       3.00000  1.500000e+00        5.800     269.300
MD             181.70     544.00000  1.625700e+03      209.700    5879.100
ME             896.77    1547.82000  1.061270e+03      445.980    2243.540
MI             552.10    3959.00000  1.003110e+04     6010.900    1463.249
MN           20708.74   49139.65001  3.285886e+04    69170.170   23136.320
MO           23939.70   10981.80000  3.549890e+04    17234.300   17079.100
MS           32355.60   39658.80000  6.612690e+04    53459.200   32258.900
MT           11343.13  101357.27000  1.174593e+05   822860.310  162549.190
NC           17412.00   16913.40000  2.506060e+04    38849.000   44664.400
ND            6203.80    7760.10000  7.099760e+04    18171.700    6567.300
NE           18129.50   14110.10000  1.185505e+05   116094.001    2473.552
NH             108.17     257.02000  1.620000e+01      132.260     152.810
NJ            4767.80    1320.44000  1.603030e+04     2016.500    4410.200
NM          169966.50   97959.56000  8.255904e+04   516743.459   70558.310
NV           41857.40   91363.70000  1.773487e+06   651614.200  598503.500
NY            1421.80    1695.71000  6.073450e+03     1497.780    7118.240
OH              41.50     203.40000  7.051000e+02      370.400     941.900
OK           19627.60   17945.30000  1.642150e+04   112723.900   30345.700
OR           24603.94   83099.62000  7.216193e+04   365429.380  384247.230
PA             107.70      54.20000  4.938000e+02      356.700     742.700
PR              82.80       1.00000           NaN          NaN         NaN
RI                NaN           NaN           NaN          NaN         NaN
SC           25238.50   16369.00000  3.593440e+04    25197.300   36528.000
SD            4318.61   14072.83000  8.037023e+04   355266.064   55260.743
TN           13043.70   20857.10000  4.225140e+04    75996.200   62141.100
TX           46780.90  136551.40000  6.002820e+04   181686.800   92226.200
UT           32525.21   96563.07000  1.484979e+05   227487.250  124088.150
VA            5199.30    9279.10000  1.926620e+04    32191.800   20906.100
VT               3.00      14.00000  1.050000e+01          NaN         NaN
WA           27563.10  111620.70000  2.617517e+04   285252.600  223780.100
WI            2621.60    4095.52000  5.353080e+03     7014.370    1364.550
WV            7534.95   20567.31000  1.033014e+05    50401.300   95542.600
WY            8315.60    4649.60000  3.968620e+04   367712.300   66991.000

           ...                                                          \
fire_year  ...          2006          2007          2008          2009
state      ...
AK         ...  2.545138e+05  6.344661e+05  9.247760e+04  2.949594e+06
AL         ...  7.954912e+04  5.678519e+04  2.329629e+04  2.492774e+04
AR         ...  6.793981e+04  2.568442e+04  1.119943e+04  1.777574e+04
AZ         ...  1.815340e+05  1.151887e+05  1.139154e+05  2.220653e+05
CA         ...  8.127119e+05  1.045292e+06  1.430154e+06  4.553500e+05
CO         ...  4.589376e+04  1.402605e+04  1.120236e+05  3.772396e+04
CT         ...  4.335000e+02  2.810500e+02  2.055800e+03  2.448300e+02
DC         ...  5.000000e-01  2.000000e-01  1.000000e-01  5.000000e-01
DE         ...           NaN  2.000000e-01           NaN           NaN
FL         ...  2.535741e+05  5.469233e+05  1.844924e+05  1.445337e+05
GA         ...  3.791718e+04  3.274600e+05  2.589222e+04  1.779083e+04
HI         ...  1.349615e+04  3.967515e+04  6.128640e+03  1.180240e+04
IA         ...  5.371030e+03  8.415630e+02  1.688460e+03  7.948952e+03
ID         ...  9.107865e+05  2.184656e+06  1.751904e+05  2.390791e+04
IL         ...  2.732000e+02  8.309000e+02  9.398900e+02  3.263400e+03
IN         ...  9.873500e+02  2.109010e+03  1.434000e+02  1.091000e+02
KS         ...  7.917040e+04  1.673671e+04  7.424820e+04  3.896520e+04
KY         ...  5.363232e+04  6.561422e+04  3.891515e+04  4.349491e+04
LA         ...  4.198400e+04  7.720000e+02  2.432153e+04  3.531233e+04
MA         ...  2.320000e+01  2.054000e+02  8.485000e+02  1.000000e+00
MD         ...  6.832500e+03  7.314800e+03  2.794100e+03  4.606900e+03
ME         ...  1.841350e+03  4.967300e+02  5.496300e+02  4.747800e+02
MI         ...  7.831170e+03  2.309520e+04  2.612920e+03  3.209430e+03
MN         ...  7.240591e+04  1.644046e+05  2.119702e+04  1.171591e+04
MO         ...  2.429916e+04  1.424645e+04  5.933760e+03  1.799488e+04
MS         ...  1.311248e+05  5.252863e+04  3.634734e+04  2.700435e+04
MT         ...  8.666521e+05  7.445429e+05  1.698693e+05  5.370639e+04
NC         ...  2.336995e+04  5.041680e+04  8.225565e+04  1.935815e+04
ND         ...  2.370835e+04  1.886090e+04  2.990605e+04  3.314160e+03
NE         ...  8.906251e+04  2.069882e+04  7.784820e+03  1.118655e+04
NH         ...  2.912390e+02  1.454900e+02  1.850700e+02  1.217850e+02
NJ         ...  2.507250e+03  2.061460e+04  3.251950e+03  5.682500e+02
NM         ...  5.469541e+05  1.442852e+05  3.654945e+05  4.231591e+05
NV         ...  1.328664e+06  9.465413e+05  7.927723e+04  2.867898e+04
NY         ...  6.774110e+03  4.143100e+03  8.121800e+03  5.237410e+03
OH         ...  1.280213e+03  8.277200e+02  4.842350e+02  4.784420e+03
OK         ...  4.165611e+05  5.696666e+04  1.460922e+05  4.038345e+05
OR         ...  5.005688e+05  5.672059e+05  2.409114e+05  8.905837e+04
PA         ...  7.880164e+03  1.131187e+03  7.610569e+03  6.205112e+03
PR         ...  1.126312e+04  2.480148e+04  6.181000e+02  8.870360e+03
RI         ...  9.300000e+01  3.700000e+01  9.100000e+01  5.063000e+01
SC         ...  1.764626e+04  2.227560e+04  1.739778e+04  3.056622e+04
SD         ...  1.975706e+05  8.110720e+04  4.142035e+04  3.870879e+04
TN         ...  3.278280e+04  5.431483e+04  2.264747e+04  1.813907e+04
TX         ...  1.852753e+06  1.350335e+05  1.483416e+06  5.577945e+05
UT         ...  3.460089e+05  6.452193e+05  3.411674e+04  1.144855e+05
VA         ...  2.396696e+04  1.589449e+04  4.279305e+04  8.032240e+03
VT         ...  5.950000e+00  1.075000e+01  1.870000e+01  5.000000e-01
WA         ...  3.984811e+05  2.645910e+05  1.178794e+05  8.706329e+04
WI         ...  3.074516e+03  4.452043e+03  9.016320e+02  4.144724e+03
WV         ...  1.615240e+04  7.519690e+03  1.435245e+04  1.663000e+04
WY         ...  2.452991e+05  9.415690e+04  1.022691e+05  2.364914e+04

                                                                  \
fire_year          2010          2011         2012          2013
state
AK         1.137533e+06  2.930041e+05   300587.000  1.320759e+06
AL         4.207847e+04  5.409718e+04    29156.460  2.993541e+04
AR         3.475471e+04  4.789969e+04    38848.490  1.329869e+04
AZ         8.772382e+04  1.037769e+06   228818.600  1.032529e+05
CA         1.209470e+05  1.922869e+05   764766.640  5.814103e+05
CO         5.189506e+04  1.272206e+05   271263.390  1.621302e+05
CT         4.560300e+02  2.373800e+02      517.300           NaN
DC         1.000000e-01  2.000000e-01        4.400  1.000000e-01
DE         3.000000e+00           NaN       39.850  2.035000e+01
FL         6.287420e+04  3.311758e+05   138965.240  7.710723e+04
GA         2.338836e+04  4.379096e+05    25434.620  1.466735e+04
HI         1.521282e+04  4.929580e+03     4987.710  7.614000e+02
IA         2.404942e+03  7.461432e+03     3985.011  2.417320e+03
ID         6.438682e+05  4.093490e+05  1775106.390  7.403255e+05
IL         2.608550e+03  2.223530e+03     1356.150  1.480200e+02
IN         1.570100e+03  6.995000e+02     1042.200  7.412000e+02
KS         2.510881e+04  9.161011e+04    57330.130  6.867000e+03
KY         6.020945e+04  2.387423e+04    32630.530  2.298902e+04
LA         4.373300e+04  3.783891e+04    10519.220  2.275453e+04
MA         3.222000e+02           NaN        2.900  1.760000e+01
MD         3.580600e+03  1.024738e+04     1439.900  4.298500e+02
ME         2.967900e+02  1.676900e+02      469.850  7.172200e+02
MI         1.205141e+04  1.832480e+03    28326.690  9.772200e+02
MN         3.568034e+04  1.390667e+05    64901.040  2.193647e+04
MO         1.447150e+04  3.184455e+04    18722.500  3.885180e+03
MS         3.654772e+04  2.902564e+04    12723.300  2.201590e+04
MT         5.747610e+04  1.392862e+05  1007209.580  7.740418e+04
NC         1.698730e+04  1.094988e+05    35318.750  1.414870e+04
ND         3.754800e+03  4.049380e+03    41722.890  6.693690e+03
NE         2.333369e+04  3.906063e+04   336108.359  1.054709e+04
NH         5.204300e+01  4.450000e+00      101.060  8.552000e+01
NJ         6.757800e+03  1.492500e+02     3122.050  1.412300e+03
NM         1.310882e+05  1.143944e+06   370998.820  2.850660e+05
NV         1.997015e+04  4.229531e+05   455326.170  1.800049e+05
NY         4.300130e+03  1.370940e+03     3529.340  2.376500e+03
OH         1.512980e+03  2.877400e+02     1097.020  1.716510e+03
OK         1.128981e+05  3.271681e+05   203966.350  3.011105e+04
OR         8.774788e+04  2.240346e+05  1531105.270  3.194399e+05
PA         3.499966e+03  5.794100e+02     3207.560  1.784770e+03
PR         7.171150e+03  2.323357e+04      392.200  2.527400e+03
RI                  NaN  2.804000e+01       39.910  1.670000e+01
SC         9.468370e+03  2.968605e+04    15437.330  9.478730e+03
SD         5.634240e+03  6.603650e+04   170466.449  1.506118e+04
TN         2.209345e+04  1.478700e+04    21728.190  1.005721e+04
TX         2.382020e+05  3.498725e+06   163114.900  7.173992e+04
UT         6.265078e+04  6.204363e+04   432902.285  7.039745e+04
VA         1.155463e+04  2.500888e+04    48077.780  5.871550e+03
VT         3.500000e-01           NaN      356.488  2.753080e+02
WA         9.304630e+04  3.861325e+04   280766.410  1.535467e+05
WI         2.531346e+03  6.357570e+02     2796.800  9.138070e+03
WV         2.545416e+04  5.811460e+03    16745.520  9.714030e+03
WY         8.694945e+04  1.348306e+05   482305.460  5.432180e+04


fire_year           2014          2015
state
AK         233601.280000  5.136704e+06
AL          37961.505000  3.083371e+04
AR          21041.610000  1.873241e+04
AZ         203176.164000  1.558143e+05
CA         546878.780000  8.487286e+05
CO          24694.310000  2.280235e+04
CT                   NaN  4.175000e+02
DC              0.200000  2.200000e+00
DE              5.000000  7.925000e+01
FL         156386.410000  1.669965e+05
GA          22215.870000  1.138990e+04
HI              0.200000  4.836600e+03
IA          10522.875000  1.391428e+04
ID         198892.570000  7.910261e+05
IL           2422.065000  1.591500e+03
IN            132.220000  6.738000e+02
KS          36525.800000  1.242105e+05
KY          42286.849996  1.968002e+04
LA          37582.744700  2.032765e+04
MA            373.200000  2.094230e+03
MD           1781.100000  1.044000e+03
ME            218.970000  5.907800e+02
MI            672.070000  3.815490e+03
MN           3984.640000  2.895247e+04
MO          22455.800000  1.202374e+04
MS          33235.600000  3.537360e+04
MT          34919.920000  3.500339e+05
NC          14991.400000  1.104473e+04
ND           3915.450000  2.579407e+04
NE          20213.032200  4.419480e+04
NH             78.466000  5.916700e+02
NJ           9804.300000  2.540800e+03
NM          43976.160000  5.212695e+04
NV          69902.340000  2.344588e+04
NY           2972.882816  7.311230e+03
OH           3486.070000  2.084090e+03
OK         187617.200000  1.493162e+05
OR         934078.440000  5.791241e+05
PA           4511.180000  4.136240e+03
PR            260.700000  1.326750e+03
RI             23.300000  1.218300e+02
SC          11225.900000  6.625410e+03
SD          18745.940000  5.356646e+04
TN          17872.770000  8.524960e+03
TX         143843.030000  2.087617e+05
UT          27185.371000  9.825600e+03
VA          12566.540000  6.328100e+03
VT            163.111000  3.464290e+02
WA         449900.920000  1.161646e+06
WI           2823.736000  2.721440e+03
WV          13638.510000  1.725137e+04
WY           7725.890000  3.682122e+04

[52 rows x 24 columns]