In [1]:
import pandas as pd 
import numpy as np 
from pathlib import Path
datafolder = Path('../test_data')

In [6]:
mortality_url = 'https://www.murach.com/python_analysis/mortality.csv'
mortality_data = pd.read_csv(datafolder/'mortality_missing_values.csv')
mortality_data.head(4)

     Year     AgeGroup  DeathRate
0  1900.0  01-04 Years     1983.8
1     NaN  01-04 Years     1695.0
2  1902.0  01-04 Years        NaN
3  1903.0  01-04 Years     1542.1

In [8]:
mortality_data.info(verbose=True, memory_usage='deep', show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       473 non-null    float64
 1   AgeGroup   476 non-null    object
 2   DeathRate  472 non-null    float64
dtypes: float64(2), object(1)
memory usage: 35.5 KB

In [37]:
mortality_data.iloc[6:8].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 6 to 7
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       1 non-null      float64
 1   AgeGroup   2 non-null      object
 2   DeathRate  0 non-null      float64
dtypes: float64(2), object(1)
memory usage: 180.0+ bytes

In [21]:
mortality_data.isna().sum()

Year         3
AgeGroup     0
DeathRate    4
dtype: int64

In [14]:
mortality_data[mortality_data.isna().any(axis=1)]

     Year     AgeGroup  DeathRate
1     NaN  01-04 Years     1695.0
2  1902.0  01-04 Years        NaN
4     NaN  01-04 Years        NaN
6     NaN  01-04 Years        NaN
7  1907.0  01-04 Years        NaN